<nav class="flex items-center justify-between flex-wrap bg-slate-700 lg:h-[100px] drop-shadow-xl">
  <nav class="w-full block flex-grow lg:flex lg:items-center lg:w-auto text-sm lg:flex-grow text-center">     
      <a href="/" class= "bg-slate-800 sm:bg-transparent bg-gradient-to-r from-slate-800 to-transparent hover:text-white block text-white text-2xl font-sans font drop-shadow-xl pr-5 pl-5 align-middle leading-[100px] sm:border-none border-b-2">
        AngularSite
      </a>
      <a href="/about" class= "md:hover:text-white block text-blue-300 px-6 align-middle leading-[100px] sm:border-none border-b-2 hover:bg-slate-800 sm:hover:bg-transparent">
        About
      </a>
      <a href="/jokes" class= "md:hover:text-white block text-blue-300 px-6 align-middle leading-[100px] sm:border-none border-b-2 hover:bg-slate-800 sm:hover:bg-transparent">
        Jokes
      </a>
      <a href="/cats" class= "md:hover:text-white block text-blue-300 px-6 align-middle leading-[100px] sm:border-none border-b-2 hover:bg-slate-800 sm:hover:bg-transparent">
        Cat Facts
      </a>
    </nav>
</nav>