<div class="p-4 text-center rounded-xl mb-6">
    <div class="relative w-full bg-white md:max-w-3xl md:mx-auto max-w-4xl lg:pt-16 lg:pb-28 my-6 p-6 drop-shadow-lg">
        <div class="mt-4 prose prose-zinc mx-auto lg:prose-lg">
            <h1 class="text-left text-center hover:scale-110 ease-in duration-300 text-[#d47023]">
                Macaroon chocolate cake caramels!
            </h1>
            <img class="w-full h-auto" src="../../assets/images/banner.png">
            <figcaption class="text-right">
                Cake ice cream tiramisu bear claw
            </figcaption>
            <h2 class="text-left">
                Sweet roll cake brownie soufflé bear claw chocolate cake.
            </h2>
                <p>
                    Fruitcake halvah danish tart apple pie pastry dessert lemon drops. Pastry candy wafer pastry carrot cake sweet icing. Marzipan pastry liquorice pie halvah.
                    jelly-o. Gingerbread chupa chups oat cake brownie bear claw macaroon soufflé liquorice. Topping croissant lemon drops biscuit caramels pie ice cream. Cake ice cream tiramisu bear claw chocolate jujubes. Bear claw tiramisu tiramisu chupa chups muffin sugar plum gingerbread jelly beans ice cream.
                </p>
            <blockquote>
                Gingerbread cake apple pie wafer apple pie jelly beans tart jelly cheesecake. Candy chupa chups gummi bears sugar plum pastry pudding powder wafer marzipan.
            </blockquote>
                        <h3 class="text-left">
                    Gingerbread chupa chups oat cake brownie bear?
                        </h3>
                <p>
                    Marzipan pastry liquorice pie halvah jelly-o. Gingerbread chupa chups oat cake brownie bear claw macaroon soufflé liquorice. Topping croissant lemon drops biscuit caramels pie ice cream. Cake ice cream tiramisu bear claw chocolate jujubes. Bear claw tiramisu tiramisu chupa chups muffin sugar plum gingerbread jelly beans ice cream.
                </p> 
                
            <div class="lead">
                Sesame snaps ice cream bonbon lollipop jujubes carrot cake gummies cheesecake dessert. Sesame snaps powder cheesecake pie wafer.
            </div>

            <table>
                <thead>
                    <th>Mint</th>
                    <th>Waffle</th>
                    <th>Sugar</th>
                </thead>
                <tr>
                    <td>Bacon cheese</td>
                    <td>Duck cake</td>
                    <td>Pie water</td>
                </tr>
                <tr>
                    <td>Danish topping</td>
                    <td>Chocolate cake</td>
                    <td>Bear claw</td>
                </tr>
                <tr>
                    <td>Pastry jelly </td>
                    <td>Apple pie</td>
                    <td>Gingerbread soufflé</td>
                </tr>
            </table>
            <hr>
        </div>
    </div>
</div>